<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product - Dashboard Admin Template</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body class="bg02">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div th:insert="~{dashboard::topbar(activePage='add')}"></div>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-mt-big">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">添加新活动</h2>
                        </div>
                    </div>
                    <div class="row mt-4 tm-edit-product-row">
                        <div class="col-xl-7 col-lg-7 col-md-12">
                            <form action="/addTask" class="tm-edit-product-form">
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">活动名</label>
                                    <input placeholder="Product name" th:placeholder="请填写活动名称" id="name" name="taskName" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="description" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">活动描述</label>
                                    <textarea id="description" name="description" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" rows="3" placeholder="请填写活动的简要描述" required></textarea>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="category" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">活动规模</label>
                                    <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="category">
                                        <option value="1" selected>小</option>
                                        <option value="2">中</option>
                                        <option value="3">大</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="expire_date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">截止日期</label>
                                    <input placeholder="点击选择截止日期" value="" id="expire_date" name="finishDate" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                           data-large-mode="true">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="selectMemForNewTask" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">参与成员</label>
                                    <input placeholder="请选择成员" value="全体成员" id="selectMemForNewTask" name="leader" href="#modal-container-395724" data-toggle="modal" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7" required>
                                </div>
                                <div style="display: none">
                                    <label for="memsId">负责人ID</label>
                                    <input value="0" id="memsId" name="leaderId" type="text">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                        <button type="submit" class="btn btn-primary">添加
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                            <img src="img/product-image.jpg" alt="Profile Image" class="img-fluid mx-auto d-block">
                            <div class="custom-file mt-3 mb-3">
                                <input id="fileInput" type="file" style="display:none;" />
                                <input type="button" class="btn btn-primary d-block mx-auto" value="上传活动成果" onclick="document.getElementById('fileInput').click();"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row tm-mt-big">
            <div class="col-12 font-weight-light">
                <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                    添加新活动
                </p>
            </div>
        </footer>
    </div>

    <div class="modal fade" id="modal-container-395724" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        请选择参与该活动的成员
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-striped tm-table-striped-even mt-3">
                        <thead>
                        <tr class="tm-bg-gray">
                            <th scope="col">&nbsp;</th>
                            <th scope="col">成员</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" aria-label="Checkbox" checked>
                            </th>
                            <td style="display: none" class="memberId" th:text="0"></td>
                            <td class="tm-product-name-allMember" th:text="全体成员">成员姓名</td>
                            <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                        <tr th:each="user:${users}">
                            <th scope="row">
                                <input type="checkbox" aria-label="Checkbox">
                            </th>
                            <td style="display: none" class="memberId" th:text="${user.id}"></td>
                            <td class="tm-product-name" th:text="${user.userName}">成员姓名</td>
                            <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save" data-dismiss="modal">保存</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        $(function () {
            $('#expire_date').datepicker();
        });

        $("#save").click(function () {
            $("#memsId").val("");
            $("#selectMemForNewTask").val("");
            if($(".tm-product-name-allMember").parent("tr").children("th").children("input:checkbox").is(":checked")){
                $("#memsId").val("0");
                $("#selectMemForNewTask").val("全体成员");
            }else {
                $("input:checkbox:checked").each(function(){
                    let alreadyCheckedId = $("#memsId").val();
                    $("#memsId").val(alreadyCheckedId+$(this).parent("th").parent("tr").children(".memberId").text()+",");
                    let alreadyCheckedName = $("#selectMemForNewTask").val();
                    $("#selectMemForNewTask").val(alreadyCheckedName+$(this).parent("th").parent("tr").children(".tm-product-name").text()+",");
                });
            }

        });
    </script>
</body>

</html>