<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/fullcalendar.min.css">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/tooplate.css">

    <style>
        .project-name-link{
            color: black;
        }
    </style>
</head>

<body id="reportsPage">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div th:insert="~{dashboard::topbar(activePage='index')}"></div>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-6">
                                <h2 class="tm-block-title d-inline-block">我参与的项目</h2>

                            </div>
                            <div class="col-3 text-right">
                                <p class="tm-link-black" onclick="addProject()">加入项目</p>
                            </div>
                            <div class="col-3 text-right">
                                <a href="/new-project" class="tm-link-black">新建项目</a>
                            </div>
                        </div>
                        <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">
                            <li class="tm-list-group-item" th:each="project:${projects}" >
                                <a class="project-name-link" href="/per-project?projectId=pid" th:href="@{/per-project(projectId=${project.id})}">
                                    [[${project.projectName}]] <button class="label label-warning" th:unless="${project.messageNumNotRead==null or project.messageNumNotRead==0}">42</button></a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">日历</h2>
                        <div id="calendar"></div>
                        <div class="row mt-4">
                            <div class="col-12 text-right">
                                <a href="#" class="tm-link-black">查看日程表</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">待办事项</h2>
                        <ol class="tm-list-group">
                            <li class="tm-list-group-item">List of tasks</li>
                            <li class="tm-list-group-item">Lorem ipsum doloe</li>
                            <li class="tm-list-group-item">Read reports</li>
                            <li class="tm-list-group-item">Write email</li>
                            
                            <li class="tm-list-group-item">Call customers</li>
                            <li class="tm-list-group-item">Go to meeting</li>
                            <li class="tm-list-group-item">Weekly plan</li>
                            <li class="tm-list-group-item">Ask for feedback</li>
                            
                            <li class="tm-list-group-item">Meet Supervisor</li>
                            <li class="tm-list-group-item">Company trip</li>
                        </ol>
                    </div>
                </div>

                <!--<div class="tm-col tm-col-big">-->
                    <!--<div class="bg-white tm-block h-100">-->
                        <!--<h2 class="tm-block-title">折线图</h2>-->
                        <!--<canvas id="lineChart"></canvas>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="tm-col tm-col-big">-->
                    <!--<div class="bg-white tm-block h-100">-->
                        <!--<h2 class="tm-block-title">柱状图</h2>-->
                        <!--<canvas id="barChart"></canvas>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="tm-col tm-col-small">-->
                    <!--<div class="bg-white tm-block h-100">-->
                        <!--<canvas id="pieChart" class="chartjs-render-monitor"></canvas>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        联系我们 <a href="#" target="_blank" title="联系我们">click here</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="js/utils.js"></script>
    <script src="js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="js/fullcalendar.min.js"></script>
    <!-- https://fullcalendar.io/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="js/tooplate-scripts.js"></script>
    <script>
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        //barChart, pieChart;
        // DOM is ready
        $(function () {
            updateChartOptions();
            //drawLineChart(); // Line Chart
            //drawBarChart(); // Bar Chart
            //drawPieChart(); // Pie Chart
            drawCalendar(); // Calendar

            // $(window).resize(function () {
            //     updateChartOptions();
            //     updateLineChart();
            //     updateBarChart();
            //     reloadPage();
            // });
        });

        let project;

        function addProject() {
            let code = window.prompt("请输入邀请码","");
            if(code == ""){ return; }
            request("/getProjectByCode",{code:code});
            let bool = window.confirm("是否加入此项目： "+project.projectName);
            if (bool == true) {
                request("/requestJoinProject",{projectId:project.id})
                alert(project.status);
            }
        }
        function request(url, data) {
            $.ajax({
                method: "post",
                url: url,
                data: data,
                contentType:'application/x-www-form-urlencoded',
                dataType:"json",
                async:false,
                success: function (data) {
                    project = data;
                },
                error:function () {
                    alert("发生错误");
                }
            });
        }
    </script>
</body>
</html>