<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="项目详情">projectName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/tooplate.css">
</head>
<body>
<div class="" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div th:insert="~{dashboard::topbar(activePage='per-project')}"></div>
            </div>
        </div>
        <div class="row tm-content-row tm-mt-big">
            <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                <div class="bg-white tm-block h-100">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <h2 class="tm-block-title d-inline-block" th:text="${session.projectName}">项目名</h2>

                        </div>
                        <div class="col-md-4 col-sm-12 text-right">
                            <a href="/add-product" class="btn btn-small btn-primary">添加新活动</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped tm-table-striped-even mt-3">
                            <thead>
                            <tr class="tm-bg-gray">
                                <th scope="col">&nbsp;</th>
                                <th scope="col">活动名</th>
                                <th scope="col" class="text-center">负责人</th>
                                <th scope="col" class="text-center">完成情况</th>
                                <th scope="col">截止日期</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task:${tasks}">
                                <th scope="row">
                                    <input type="checkbox" aria-label="Checkbox">
                                </th>
                                <td style="display: none" th:text="${task.id}"></td>
                                <td class="tm-product-name" th:text="${task.taskName}">活动名</td>
                                <td class="text-center" th:text="${task.leader}">负责人</td>
                                <td class="text-center" th:text="${task.completeStatus}">完成情况</td>
                                <td th:text="${task.finishDate}">截止时间</td>
                                <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tm-table-mt tm-table-actions-row">
                        <div class="tm-table-actions-col-left">
                            <button class="btn btn-danger">Delete Selected Items</button>
                        </div>
                        <div class="tm-table-actions-col-right">
                            <span class="tm-pagination-label">Page</span>
                            <nav aria-label="Page navigation" class="d-inline-block">
                                <ul class="pagination tm-pagination">
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <span class="tm-dots d-block">...</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">13</a></li>
                                    <li class="page-item"><a class="page-link" href="#">14</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title d-inline-block">项目成员</h2>
                    <table class="table table-hover table-striped mt-3">
                        <tbody>
                        <tr th:each="user:${users}">
                            <td><a th:href="@{#}" th:text="${user.userName}">成员姓名</a></td>
                            <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary tm-table-mt" onclick="request('/getProjectCode',{},getProjectUniqueCode)">添加新成员</button>
                </div>
            </div>

            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title">折线图</h2>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title">柱状图</h2>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block h-100">
                    <canvas id="pieChart" class="chartjs-render-monitor"></canvas>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="js/utils.js"></script>
<script src="js/Chart.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="js/tooplate-scripts.js"></script>
<script>
    $(function () {
        $('.tm-product-name').on('click', function () {
            let id = $(this).prev().text();
            window.location.href = "/showTask?taskId="+id;
        });
    });

    let ctxLine,
        ctxBar,
        ctxPie,
        optionsLine,
        optionsBar,
        optionsPie,
        configLine,
        configBar,
        configPie,
        lineChart;
    barChart, pieChart;
    // DOM is ready
    $(function () {
        updateChartOptions();
        drawLineChart(); // Line Chart
        drawBarChart(); // Bar Chart
        drawPieChart(); // Pie Chart
        //drawCalendar(); // Calendar

        // $(window).resize(function () {
        //     updateChartOptions();
        //     updateLineChart();
        //     updateBarChart();
        //     reloadPage();
        // });
    });

    function getProjectUniqueCode(data) {
        alert("搜索此编码即可加入该项目："+data);
    }

    function request(url, data,successFunc) {
        $.ajax({
            method: "post",
            url: url,
            data: data,
            contentType:'application/x-www-form-urlencoded',
            dataType:"json",
            async:false,
            success: function (data) {
                successFunc(data);
            },
            error:function () {
                alert("发生错误");
            }
        });
    }

</script>
</body>
</html>